{% include 'nav.html'%}
 

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  <center> <h1>Hello  @{{ user.username }}</h1></center>
<h3 style="color:maroon">&nbsp;<small>Add a new picture that you think might be creative and fabulous to look for everyone . Every piece of creation is there , looking for your eyes, and to feel its beauty . So share this glorius glimpse with world.</small> <a href="http://127.0.0.1:8000/arts/create_art/">here</a>
</h3>

<h3 style="color: maroon"><small>write an article about your experience in an area you are visiting and share the glory and motivate others to go to that place .If you want to see that how can you write a more effextive article go to "Blogs" section in navigation bar and read some of the trending articles about that area. </small> <a href="http://127.0.0.1:8000/blog/create">here</a></h3>

