<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% include 'nav.html'%}
 
<center><h2><span style="color: purple;font-family: fantasy;">{{article.article_name}}</span></h2>
<span style="font-family: cursive;color: green"><h3>An Article by: {{article.author}}</h3></span></center>
 
 
<br> 
 <center>
 	 
 
 
<div class="content">
	<p><i style="font-size: 20px"> This blog is about Area  &nbsp;<span style="color:green">{{article.area}}</span></i></p>
<p>{{article.content}}</p>
</div>
</center>
<br>
 
 <div style="text-align: center;align-items: center;">
<button class="btn "><a href="http://127.0.0.1:8000/blog/{{article.id}}/update"><span style="color: white"> Update</span></a></button>
</div>

<style type="text/css">
	.content{
		width: 80%;
		border-width: 1px;
		border-style: solid;
		height: auto;
		padding: 10px;
		margin-left: 20px;
		box-shadow: 5px 5px 10px 5px lightgrey;
		border-radius: 10px 20px 10px 20px;

	}
	.btn{
	background-color: teal;
	margin-bottom: 20px;
	margin-right: 20px;
	}
</style>